  #profile-page-cont {
            height: 31rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 1rem;
        }

        #profile-page-cont>h1 {
            color: white;
            padding: 1rem;
        }

        #profile-img {
            display: flex;
            justify-content: center;
        }

        #profile-img>img {
            width: 13rem;
            height: 13rem;
            border-radius: 50%;

        }

        #profile-name {
            color: white;
        }

        .name-sec {
            font-size: 1.5rem;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }

        hr {
            margin-bottom: 1rem;
        }

        #inp-name {
            width: 22.3rem;
            border: none;
            background: none;
            border-bottom: 1px solid;
            color: white;
            font-size: 1.2rem;
        }

        #inp-name:focus {
            outline: none;
            box-shadow: none;
        }

        #name-change {
            display: none;
        }

        #error {
            display: none;
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
            position: relative;
            top: 7rem;
            background-color: white;
            transition: opacity .5s ease;
        }

        .fa-spinner {
            color: black;
            font-size: 3rem;
            height: fit-content;
        }

        #loader-cont {
            display: none;
            width: 13rem;
            height: 13rem;
            border-radius: 50%;
            backdrop-filter: blur(10px);
            position: absolute;
            top: 5.3rem;
        }