@media screen and (max-width : 450px) {
    #resetPass-child-cont {
        height: auto;
    }

    #resetPass-child-cont>div {
        margin-bottom: 1.8rem;
    }
}

#reset-pass-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 43.2rem;
}

#resetPass-child-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 15rem; */
}

#resetPassword {
    color: aqua;
    width: 10rem;
    height: 2rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 20px darkcyan;
}

.reset-pass-inps {
    background: #69696978;
    padding: 0.2rem;
    font-size: 1rem;
}

#resetPass-child-cont>div {
    display: flex;
    justify-content: end;
    margin: 1rem 0rem;
}

#resetPass-child-cont>div>label {
    font-size: 1.3rem;
    color: white;
}

#reset-pass-cont>h1 {
    box-shadow: 0px 2px 4px cyan;
    padding: 0.5rem;
    color: cyan;
}

@media screen and (max-width : 500px) {
    #resetPass-child-cont {
        padding: 1rem;
    }

    #resetPass-child-cont>div>label {
        font-size: 1.1rem;
    }
}
@media screen and (min-width : 501px){
    #reset-pass-cont {
        height: 100vh;
    }
}